<!--Authors: Benoit Sebastien, Mckinnley Workman-->
<!--Description:                                -->

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AT2</title>

    <!-- Bootstrap Core CSS -->
    <!--NOTE: THESE LINKS NEED TO BE CHANGED TO USE STATIC_URL, etc-->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
{% endblock %} <!--endblock: head-->

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">AT<sup>2</sup></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
	   	    <!--ALERT!!! MODIFY ME Use django to display appropriate links only!  -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    {% for category in categories %}
                    {% if category.title.lower != curr_category.title.lower %}
                    <li>
                    <a class="page-scroll" href="{ % url'category.title.lower_home' %}">{{ category.title|capfirst }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %} <!--endblock: nav-->

    {% block in_body %}
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block location %}
                    {% endblock %} <!--endblock: location-->
                </div>
            </div>
        </div>
    </section>
    
    <!--Body Section for the resources and outputs-->
    <section id="body" class="body-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block resources_and_output%}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    
    {% endblock %} <!--endblock: in_body-->

    {% block footer %}
    <!--Footer-->
    
    {% endblock footer %} <!--End footer block-->


    {% block later_loaded_scripts%}
    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../../static/js/jquery.easing.min.js"></script>
    <script src="../../static/js/scrolling-nav.js"></script>
    {% endblock %} <!--endblock later_loaded_scripts -->

</body>
</html>
