<!--Authors: Benoit Sebastien, Mckinnley Workman-->
<!--Description:                                -->

<!-- Daily Power Generation Question -->
<section id={{ id }} class={{ class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>How much power would you like to generate daily?</h1>
            </div>
        </div>
    </div>
</section>
