<!--Authors: Benoit Sebastien, Mckinnley Workman-->
<!--Description:                                -->

{% extends "base.html" %}

{% block location %}
    <div class="container" style="border: 3px solid black;">
        <div class="row">
            <h3>Big Ass GoogleMap Here</h3>
        </div>
    </div>
{% endblock %}

{% block resources_and_output %}
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="searchable-container">
                    <div class="items col-xs-2 col-sm-2 col-md-4 col-lg-5" style="text-align: center;">
                        
                        <!--Natural Resources-->
                        <div class="row">
                            <h3>Select Natural Resource(s)</h3>
                            <p>Select the natural resources</p>
                        </div>
                        <div class="info-block block-info clearfix">
                            {% for resource in natural_resources %} 
                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <image src="../../static/images/icons/{{resource|lower}}-icon.png"/>
                                        <input type="checkbox" name="{{resource|title }}" autocomplete="off" value="">
                                    </div>
                                    {{resource|title}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-2" style="text-align: center;">
                        <image src="../../static/images/arrow_right.png"></image>
                    </div>
                    
                    <!--Outputs-->
                    <div class="items col-xs-2 col-sm-2 col-md-4 col-lg-5" style="text-align: center;">
                        <div class="row">
                            <h3>Select Outputs(s)</h3>
                            <p>Select the output(s)</p>
                        </div>
                        <div class="info-block block-info clearfix">
                            {% for output in outputs %} 
                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <image src="../../static/images/icons/{{output|lower}}-icon.png"/>
                                        <input type="checkbox" name="{{output|title }}" autocomplete="off" value="">
                                    </div>
                                    {{output|title}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>    
    </div>
{% endblock %}

<!--footer-->
{% block footer%}
{% endblock footer%}
