<!--Authors: Benoit Sebastien, Mckinnley Workman-->
<!--Description:                                -->

{% extends "base.html" %}

{% block in_body %}    
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{curr_category.title|capfirst}}</h1>
                    <p><strong>Description:</strong>{{ curr_category.description }}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Questions -->
    {% for question in questions %}
    {% if question.system.category.title == curr_category.title %}
    <section id={% cycle 'about' 'service' %} class={% cycle 'about-section' 'services-section' %}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{ question }}</h1>
                </div>
            </div>
        </div>
    </section>
   {% endif %}
   {%endfor%}

{% endblock %}
