<!--Authors: Benoit Sebastien, Mckinnley Workman-->
<!--Description:                                -->

<html>

<body>
    <div>
        <h1>Add Question</h1>
        <form action="{{ action }}" method="POST">
            {% for field in form %}
            {{field}}
            {% endfor %}
        </form> 
    </div>
</body>
